list.html.erb
 <hmtl>

<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<h2> <font color=green> Books Galore! </font> </h2>

<body>
<% all_books = Book.read %>
<div class="col-md-6">
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
  </tr>
  </thead>
  <tbody>
<ul>
    <% all_books.each do |book| %>
       <% book_name = book["title"] %>
     <li>
    <strong> <%= link_to book_name, "/books/#{book["id"]}" %> </strong>

        Price ($<%= book["price"] %>)



    <% end %>
    </li>
    <% end %>
</tbody>
</table>
</div>
</body>
</html>





