 <hmtl>

<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<h2> <font color=green> Books Galore! </font> </h2>

<body>
<% all_books = Book.read %>
<div class="col-md-6">
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Title </th>
    <th>Author</th>
    <th> Price </th>
  </tr>
  </thead>
  <tbody>

    <% all_books.each do |book| %>
       <% book_name = book["title"] %>
<tr>
    <strong> <td> <%= link_to book_name, "/books/#{book["id"]}" %> </strong> </td>

                    <td> <%= book["author"] %> </td>
                    <td>  $<%= book["price"] %> </td>
</tr>




 <% end %>
</tbody>
</table>
</div>
</body>

</html>





